@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.wrapper {
    max-width: calc(1440px - 248px);
    margin: 0 auto;
}
body {
    font-family: "Roboto";
}
.text-normal {
    max-width: 662px;
    font-family: Roboto;
    font-size: 24px;
    line-height: 150%;
}
.about-course-image {
    width: 366px;
    height: 344px;
}
.about-course-flex {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 18px;
}
.about-course-info {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.info-img {
    display: block;
    width: 232px;
    height: 219px;
    margin-right: auto;
}
h2 {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    margin: 5px 0;
}
.info {
    width: 150px;
}
.info-container {
    width: 638px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.info p {
    font-size: 18px;
    line-height: 130%;
    margin: 0;
    font-weight: normal;
}
@media (max-width: 1400px) {
    .wrapper {
        max-width: 750px;
    }
    .text-normal {
        max-width: 383px;
    }
    .info-container {
        max-width: 383px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 15px;
    }
    .info p {
        font-size: 11px;
    }
    .info-img {
        display: none;
    }    
    .info-container {
        margin: 0;
    }
    .text-normal {
        font-size: 14px;
    }
    .about-course-image {
        width: 180px;
        height: 180px;
    }
    .info {
        width: 90px;
    }
}
@media (max-width: 830px) {
    h1 {
        font-size: 26px;
    }
    .text-normal {
        font-size: 12px;
        line-height: 18px;
    }
    h2 {
        font-size: 12px;
    }
    .info {
        width: 85px;
        margin-top: 10px;
    }
    .info p {
        font-size: 10px;
    }
    .wrapper {
        max-width: 320px;
    }
    .about-course-flex {
        display: block;
    }
    .about-course-image {
        display: block;
        margin: 0 auto;
    }
    .info-container {
        flex-wrap: wrap;
        max-width: 210px;
    }
}